* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;

  font-family: sans-serif;
  color: #ffffff;
  text-align: center;

  background-image: linear-gradient(#615dad, #ffc8da);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Intro CARD */
img {
  border-radius: 8px 8px 0 0;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.card {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.card-text {
  background-color: #283e50;
  padding: 10px;
  flex-grow: 1;
  line-height: 1.5;
}

.card-button {
  color: #ffffff;
  padding-block: 15px;
  text-decoration: none;
  cursor: pointer;
}

.button__green {
  background-color: #1fcca4;
  border-bottom: 2px solid #283e50;
}

.button__blue {
  background-color: #0197f6;
}

.button__green:hover {
  background: #1cbb96;
}

.button__blue:hover {
  background: #0090e9;
}


/* GAME */

.game {
  max-width: 80vmin;
  display: flex;
  flex-direction: column;
}

.game-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  width: 300px;
}

.game-player {
  display: flex;
  align-items: center;
}

.square {
  height: 20px;
  width: 20px;
  border: 3px solid white;
  border-radius: 50%;
  margin: 5px;
}

.game-icon {
  padding: 10px 8px 10px 8px;
  margin-left: 5px;
  border-radius: 5px;
}

.icon__green {
  background-color: #1fcca4;
}

.icon__blue {
  background-color: #0197f6;
}

.icon__green:hover {
  background: #1cbb96;
}

.icon__blue:hover {
  background: #0090e9;
}

.game-field {
  display: flex;
  flex-wrap: wrap;
  font-family: 0;
  width: 300px;
  margin: 5px;
  background: linear-gradient(#615dad, #ffc8da);
}

.game-square {
  height: 30px;
  width: 30px;
  padding: 0;
  border: 1px solid black;
  opacity: 0.5;
  cursor: pointer;
}
